.flexContainer {
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 15px;
    gap: 5px;
    flex-wrap: wrap; /* Добавляем обертку для колонок */
}

.flexContainer > div {
    margin-top: 120px;
    flex-basis: 40%; /* Каждая колонка будет занимать половину доступной ширины */
}
