.optionButton {
    border: none;
    display: inline;
    border-left: 4px solid #a2dfc2;
    background-color: transparent;
    color: #a2dfc2;
}

.optionButton:hover {
    border-left: 4px solid #ffa20a;
    background-color: transparent;
    color: #ffa20a;

    transition: 0.3s;
    transform: scale(1.2);
}

.callout {
    position: relative;
    display: block;
    margin: 25px;
}

.calloutContentBase {
    position: absolute;
    display: flex;
    top: 50%;
    translate: 80px -90px;
}
