.adaptiveContainer {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.optionsContainer,
.modelContainer,
.descContainer {
    flex-grow: 1;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    background-color: aquamarine;
}

.optionsContainer {
    grid-area: 1 / 1 / 3 / 2;
}

.modelContainer {
    grid-area: 1 / 2 / 3 / 3;
}

.descContainer {
    grid-area: 1 / 3 / 3 / 4;
}

@media (max-width: 1000px) {
    .adaptiveContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .optionsContainer {
        grid-area: 1 / 1 / 2 / 2;
    }

    .modelContainer {
        grid-area: 1 / 2 / 3 / 3;
        min-width: 0%;
    }

    .descContainer {
        grid-area: 2 / 1 / 3 / 2;
    }
}
