.custom-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #eaeaea;
    color: #333;
    position: relative;
    overflow: hidden;
    transform: skewX(-20deg);
  }
  
  .custom-button:before,
  .custom-button:after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    transform: skewX(20deg);
  }
  
  .custom-button:before {
    left: -20px;
    transform-origin: bottom left;
  }
  
  .custom-button:after {
    right: -20px;
    transform-origin: top right;
  }
  