.container {
    display: inline-block;
    padding: 10px;
}

.gridParent {
    display: grid;
}

.parentHex {
    background-color: rgba(175, 237, 205, 0);
    color: rgb(175, 237, 205);
}

.childHex {
    background-image: url("https://prod.assets.earlygamecdn.com/images/crysis-4-teaser-release-date.jpg?mtime=1643204544");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(175, 237, 205, 0.3);
    color: rgb(175, 237, 205);
}

.childHex>button {
    border: none;
    background-color: rgba(175, 237, 205, 0);
    color: rgb(175, 237, 205);
    padding: 10px;
}